! Rofi Color Theme
rofi.color-enabled: true
rofi.color-window: #1d1f21, #81a2be, #373b41
rofi.color-normal: #282a2e, #c5c8c6, #282a2e, #82a2be, #1d1f21
rofi.color-active: #282a2e, #b5bd69, #282a2e, #b5bd68, #1d1f21
rofi.color-urgent: #282a2e, #cc6666, #282a2e, #cc6666, #1d1f21
